.time {
  position: relative;
}

.time__line {
  position: absolute;
    width: 100%;
    border-top: 2px solid blue;
    z-index: 3;
}

.time__circle {
  
  position: absolute;
  background-color: blue;
  width: 8px;
  height: 8px;
  margin-top: -5px;
  margin-left: -5px;
  border-radius: 50%;
}
